* {
  box-sizing: border-box;
}

body {
  background-color: rgb(232, 230, 230);
}

.container {
  background-color: whitesmoke;
  margin: auto;
  border-radius: 20px;
  width: 90%;
}

.imagenCentral {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  align-items: center;
}

ul li {
  list-style: none;
  padding: 0.5rem;
  margin: 0.2rem;
  transition: 0.1s;
}

ul li:first-of-type {
  background-color: rgb(196, 3, 3);
  border: 2px solid black;
  border-radius: 2px;
}

ul li:hover {
  background-color: rgb(196, 3, 3);
  border: 2px solid black;
  border-radius: 2px;
  cursor: pointer;
}

h2 {
  text-align: center;
}

h3 {
  color: rgb(196, 3, 3);
}

.contenidoCentral {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  justify-content: center;
}

.plantilla {
  width: 30%;
  margin: 0.5rem;
  vertical-align: top;
}

.plantilla>img {
  width: 100%;
}

a {
  text-decoration: none;
  padding: 1rem;
}