---
import Logo from "../assets/topProducts.png";
import "../styles/header.css";
---

<header>
  <img src={Logo.src} alt="Imagen Logo" />

  <nav>
    <a href="">Home</a>
    <a href="">Products</a>
    <a href="">Contact</a>
  </nav>
</header>
