---
import Logo from "../assets/topProducts.png";
import "../styles/header.css";
---

<header>
  <img src={Logo.src} alt="Imagen Logo" />

  <nav>
    <ul>
      <li><a href="">Home</a></li>
    </ul>
    <ul>
      <li><a href="">Info</a></li>
    </ul>
    <ul>
      <li><a href="">Contact</a></li>
    </ul>
  </nav>
</header>
