---
import RedmiOne from "../img/redmiNote - copia.jpg";
import RedmiTwo from "../img/redmiNoteTwo.jpg";
import RedmiThree from "../img/redmiNoteThree.jpg";
import RedmiFor from "../img/redmiNoteFor.jpg";
import "../styles/product.css";
---

<section>
  <div class="galery">
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <!-- Botones del carousel -->
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src={RedmiOne.src} class="" alt="Redmi Note 13" />
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-light">Redmi Note 13</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src={RedmiTwo.src} class="" alt="Redmi Note 13" />
          <div class="carousel-caption d-none d-md-block"></div>
        </div>
        <div class="carousel-item">
          <img src={RedmiThree.src} class="" alt="Redmi Note 13" />
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-light">Redmi Note 13</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src={RedmiFor.src} class="" alt="Redmi Note 13" />
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-light">Redmi Note 13</h5>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon black" aria-hidden="true"
        ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="texto">
    <h2>1. Redmi Note 13 - El Smartphone Que lo Tiene Todo</h2>
    <p>
      Si estás buscando un smartphone que ofrezca rendimiento de calidad sin
      romper el banco, el Redmi Note 13 es tu opción ideal. Con una
      impresionante pantalla de 6.79 pulgadas, disfrutarás de una experiencia
      visual increíble, ya sea viendo tus series favoritas o jugando a tus
      juegos preferidos. Además, su cámara de 108 MP captura fotos con una
      claridad impresionante, lo que te permite inmortalizar todos tus momentos
      importantes con una calidad profesional. El Redmi Note 13 cuenta con 8GB
      de RAM y 256GB de almacenamiento, lo que significa que no tendrás que
      preocuparte por la lentitud ni por quedarte sin espacio para tus
      aplicaciones, fotos y videos. Además, su batería de larga duración asegura
      que puedas usar tu smartphone durante todo el día sin preocuparte por
      quedarte sin carga. Con todo esto, el Redmi Note 13 se ha convertido en
      uno de los smartphones más vendidos de Amazon.
    </p>

    <a href="#"
      >Haz clic aquí para conseguirlo ahora y aprovechar esta oferta exclusiva
      en Amazon.</a
    >
  </div>
</section>
