---
import "../styles/products.css";
---

<main>
  <h1>Top 5 productos mas vendidos de Amazon</h1>

  <div class="m-auto list-group list-group-horizontal mb-4">
    <div class="col mt-5 p-1 list-group-item list-group-item-action p-2">
      <a class="" href=""><h3>Producto 1</h3></a>
    </div>
    <div class="col mt-5 p-1 list-group-item list-group-item-action p-2">
      <a class="" href=""><h3>Producto 2</h3></a>
    </div>
    <div class="col mt-5 p-1 list-group-item list-group-item-action p-2">
      <a class="" href=""><h3>Producto 3</h3></a>
    </div>
    <div class="col mt-5 p-1 list-group-item list-group-item-action p-2">
      <a class="" href=""><h3>Producto 4</h3></a>
    </div>
    <div class="col mt-5 p-1 list-group-item list-group-item-action p-2">
      <a class="" href=""><h3>Producto 5</h3></a>
    </div>
  </div>
</main>
