---
import RedmiOne from "../img/redmiNote - copia.jpg";
import RedmiTwo from "../img/redmiNoteTwo.jpg";
import RedmiThree from "../img/redmiNoteThree.jpg";
import RedmiFor from "../img/redmiNoteFor.jpg";
import "../styles/product.css";
---

<section>
  <div class="galery">
    <img class="" src={RedmiOne.src} alt="Redmi Note 13" />
    <img class="" src={RedmiTwo.src} alt="Redmi Note 13" />
    <img class="" src={RedmiThree.src} alt="Redmi Note 13" />
    <img class="" src={RedmiFor.src} alt="Redmi Note 13" />
  </div>

  <div class="grande"></div>

  <div class="texto">
    <h2>1. Redmi Note 13 - El Smartphone Que lo Tiene Todo</h2>
    <p>
      Si estás buscando un smartphone que ofrezca rendimiento de calidad sin
      romper el banco, el Redmi Note 13 es tu opción ideal. Con una
      impresionante pantalla de 6.79 pulgadas, disfrutarás de una experiencia
      visual increíble, ya sea viendo tus series favoritas o jugando a tus
      juegos preferidos. Además, su cámara de 108 MP captura fotos con una
      claridad impresionante, lo que te permite inmortalizar todos tus momentos
      importantes con una calidad profesional. El Redmi Note 13 cuenta con 8GB
      de RAM y 256GB de almacenamiento, lo que significa que no tendrás que
      preocuparte por la lentitud ni por quedarte sin espacio para tus
      aplicaciones, fotos y videos. Además, su batería de larga duración asegura
      que puedas usar tu smartphone durante todo el día sin preocuparte por
      quedarte sin carga. Con todo esto, el Redmi Note 13 se ha convertido en
      uno de los smartphones más vendidos de Amazon.
    </p>

    <a href="#"
      >Haz clic aquí para conseguirlo ahora y aprovechar esta oferta exclusiva
      en Amazon.</a
    >
  </div>
</section>
