---
import "../styles/products.css";
---

<main>
  <h1>Top 5 productos mas vendidos de Amazon</h1>

  <div class="productos">
    <a href=""><h3>Producto 1</h3></a>
    <a href=""><h3>Producto 2</h3></a>
    <a href=""><h3>Producto 3</h3></a>
    <a href=""><h3>Producto 4</h3></a>
    <a href=""><h3>Producto 5</h3></a>
  </div>
</main>
