header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid black;

  img {
    width: 70px;
  }
}

nav {
  padding: .0 2rem;
}

nav ul {
  display: inline-block;
}

nav ul li {
  text-decoration: none;
  list-style: none;
  width: 100%;
  transition: .2s;
}

nav .collapse ul li:hover {
  background-color: black;
  padding: 0.2rem;

  a {
    color: white;
  }
}

nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  margin: .0 1rem;
}