* {
  box-sizing: border-box;
}

section {
  display: flex;
  margin: auto;
}

.galery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: .5rem;
  grid-gap: 1rem;
  padding: .5rem;

  img {
    width: 200px;
    margin: .5rem;
    border-radius: 10px;
    transition: 1s;
  }

  img:hover {
    scale: 1.5;
  }
}

.texto {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;

  a {
    text-align: end;
  }

  h2 {
    font-weight: bold;
  }
}