* {
  box-sizing: border-box;
}

section {
  display: flex;
  margin: auto;
}

.galery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;

  img {
    width: 350px;
    margin: .5rem;
    border-radius: 10px;
    transition: 1s;
  }
}

h5 {
  font-size: 1rem;
}

.texto {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;

  a {
    text-align: end;
  }

  h2 {
    font-weight: bold;
  }
}